{% extends 'templates/base.twig'  %}


{% block title %}
    Leelas Motel - An Elegant Stay |Booking
{% endblock %}



{% block pageCss %}

    <link rel="stylesheet" href="{{ base_url() }}/css/booking.css">
{% endblock %}


{% block content %}
    <div id="cssmenuCont">
        <div id="cssmenu">
            <ul>
                <li class="nextStep">Booking Completed</li>
                <li class="nextStep">Select Payment Method</li>
                <li class="nextStep">Enter Booking Details</li>
                <li class="doing">Select Room</li>
            </ul>
        </div>
    </div>

    <!-- The Wrapper which is containing all the cards of the booking process -->
    <div id="wrapper">
        <div>
            <!-- The First process Card (procard) for selecting the room -->
            <div id="bookRoom" class="procard bookRoom">
                <div>
                    <h1 class="proHead">Select Your Room</h1>
                    <p class="proPara">Select the room details</p>
                </div>
                <form action="{{ path_for('roomAllot') }}" method="post">
                    <div id="first">
                    <label>Number of Rooms</label>
                    <input id="selectRoomNo"  type="number" value="1">

                    <div id="roomType">
                        <div>
                            <label>Standard Room</label>
                            <input name="standard" type="number" min="0" max="50" id="selectStdRoom" value="1">
                        </div>
                        <div>
                            <label>Delux Room</label>
                            <input name="delux" type="number" min="0" max="50" id="selectDeluxRoom" value="0">
                        </div>
                        <div>
                            <label>Super Delux Room</label>
                            <input name="royal" type="number" min="0" max="50" id="selectSuperRoom" value="0">
                        </div>
                    </div>
            </div>
            <div id="second">
                <label>Guest</label>
                <div id="selectGuest">
                    <input name="adult" id="selectGuestAdult" type="number" placeholder="Adult">
                    <input name="child" id="selectGuestChild" type="number" placeholder="Child">
                </div>
                <div id="check">
                    <div>
                        <label>Check In</label>
                        <input name="checkIn" id="indate" type="date" value="">
                    </div>
                    <div>
                        <label>Check Out</label>
                        <input name="checkOut" id="outdate" type="date" value="">
                    </div>
                </div>
                <button type="submit" onclick="event.preventDefault();"  id="bookRoomBtn">Continue</button>
            </div>
            </form>
        </div>

        <!-- The Second process Card (procard) for giving the personal details -->
        <div id="bookDet" class="procard">
            <div>
                <h1 class="proHead">Booking details</h1>
                <p class="proPara">Enter Your Personal Information below</p>
            </div>
            <div>
                <form>
                    <label for="bookername">Name</label>
                    <input id="bookername" type="text" placeholder="Your Name">

                    <label for="bookerno">Contact Number</label>
                    <input id="bookerno" type="tel" placeholder="Phone Number">

                    <label for="bookerAdd">Address</label>
                    <input id="bookerAdd" type="text" placeholder="Address-line 1">
                    <button onclick="event.preventDefault()" id="bookdetbtn">Continue</button>
                </form>
            </div>
            <div class="summary">
                <div>
                    <p>Summary</p>
                    <p>Below is the summary of the room type, date and number of guest.</p>
                    <p>Total Rooms</p>
                    <p class="sumRoom">Hello</p>
                    <div id="checkIn">
                        <div>
                            <p>Check In</p>
                            <p class="sumCheckIn"></p>
                        </div><div>
                            <p>Check Out</p>
                            <p class="sumCheckOut"></p>
                        </div>
                    </div>
                    <div id="checkIn">
                        <div>
                            <p>Guest</p>
                            <p class="sumguest"></p>
                        </div><div>
                            <p>Rooms</p>
                            <p class="sumroomno"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Third process Card (procard) for payment method -->
        <div id="payCon" class="procard">
            <div>
                <h1 class="proHead">PayMent details</h1>
                <p class="proPara">Choose your desired payment method</p>
            </div>
            <div>
                <button onclick="event.preventDefault()" id="payConbtn">Continue</button>
            </div>

            <div class="summary">
                <div>
                    <p>Summary</p>
                    <p>Below is the summary of the room type, date and number of guest.</p>
                    <p>Room Type</p>
                    <p class="sumRoom">Hello</p>
                    <div id="checkIn">
                        <div>
                            <p>Check In</p>
                            <p class="sumCheckIn"></p>
                        </div><div>
                            <p>Check Out</p>
                            <p class="sumCheckOut"></p>
                        </div>
                    </div>
                    <div id="checkIn">
                        <div>
                            <p>Guest</p>
                            <p class="sumguest"></p>
                        </div><div>
                            <p>Rooms</p>
                            <p class="sumroomno"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The last process Card (procard) for telling the user that the room is booked -->
        <div id="bookComplete" class="procard">
            <div>
                <h1 class="proHead">Booking Complete!</h1>
                <p class="proPara">Thank You for choosing Leela Motel, we send to your email the details of your booking</p>
            </div>
        </div>
    </div>
    </div>

    <div id="signuppage">
        <div id="cross">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div id="centerBox">
            <!-- This Box Will go here and there to change from Signup to login -->
            <!-- No change From BackEnd -->
            <div id="main">
                <div  class="text-white" id="box">
                    <h1 class="display-3" id="head">New Here?</h1>
                    <p class="lead" id="para">Sign up and discover a great amount  of new opportunities.</p>
                    <button type="button" class="btn-1 btn" id="btn" onclick="myfunction()">Sign Up</button>
                </div>

                <!--This is the Sign Up Block-->
                {% include 'templates/partials/signup.twig' %}


                <!-- This is the Log In Block-->
                {% include 'templates/partials/login.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pageJs %}
    <script src="{{ base_url() }}/js/booking.js"></script>
    <script src="{{ base_url() }}/js/lib/roomAllotValidation.js"></script>
    <script src="{{ base_url() }}/js/lib/bookingConfirmation.js"></script>
{% endblock %}
