{% extends 'templates/base.twig'  %}


{% block title %}
Leelas Motel - An Elegant Stay
{% endblock %}



{% block pageCss %}
    <link rel="stylesheet" href="{{ base_url() }}/css/home.css">
{% endblock %}



{% block content %}
    <div id="banner">
        <!-- Slider-->
        <div id="slider">
        </div>
        <div>
            <!-- Name of the Motel -->
            <div id="nameHotel">
                <div>
                    <h3>Welcome To</h3>
                    <h1>Leelas Motel</h1>
                </div>
            </div>
            <!-- Check Availability Block -->
            <div id="checkAvail">
                <center>
                    <span>
                        <p>
                            Check Availability
                        </p>
                    </span>
                    <span>
                        <form action="{{ path_for("availability.check") }}" method="post">
                            <input name="checkin" id="checkInCheck" placeholder="Arrival Date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
                            <input name="checkout" id="checkOutCheck" placeholder="Departure Date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
                            <span>
                        <button id="checkbtn" onclick="event.preventDefault();">
                            CHECK</button>
                        <button id="resetbtn" onclick="event.preventDefault();">
                            RESET</button>
                    </span>
                        </form>
                    </span>
                </center>
            </div>
        </div>
    </div>


    <div id="checkAvailInfoBox">
        <div>
            <p><span>Check In : </span><span id="checkInDate">13-08-13</span></p>
            <p><span>Check Out : </span><span id="checkOutDate">12-09-13</span></p>
        </div>
        <div id="availRooms">
            <div id="stdRooms">
                <h3>Standard Rooms</h3>
                <p><span>Available : </span><span id="stdRoomsAvail">00</span></p>
                <p><span>Price : </span><span id="stdRoomsPrice">{{ auth.price.standard }} Rs</span></p>
            </div><div id="deluxRooms">
                <h3>Delux Rooms</h3>
                <p><span>Available : </span><span id="deluxRoomsAvail">00</span></p>
                <p><span>Price : </span><span id="deluxRoomsPrice">{{ auth.price.delux }} Rs</span></p>
            </div><div id="superDeluxRooms">
                <h3>SuperDelux Rooms</h3>
                <p><span>Available : </span><span id="superDeluxRoomsAvail">00</span></p>
                <p><span>Price : </span><span id="superDeluxRoomsPrice">{{ auth.price.royal }} Rs</span></p>
            </div>
        </div>
        <div>
            <form action="{{ path_for('booking.roomAllot') }}" method="get">
        <button class="bookBtn">Book Now</button>
            </form>
        </div>
    </div>

    <div id="checkAvailError">
        <div>
            <p>You have Entered Invaid Checkin or Checkout Dates. </p>
            <p>Note - Advance booking of 45 days only is allowed. </p>
        </div>
    </div>
    <!-- Accomodation Block -->
    <div id="accommodation">
        <!-- left side block -->
        <div>
            <div>
                <h1>LUXURY<br>INTERIOR</h1>
                <p>Interiors include textured wood accents, ocean-hued carpeting, vintage-inspired furniture, clean lines and sleek decor.</p>
            </div>
        </div>
        <!-- Rooms Section with pictures, types and price -->
        <div id="rooms">
            <div>
                <div>
                    <p id="roomType">Standard Rooms</p>
                    <span id="price">{{ price.standard }}</span>
                    <span>/day</span>
                </div>
                <p id="show">Show More...</p>
            </div>
            <div>
                <div>
                    <p id="roomType">Deluxe Room</p>
                    <span id="price">{{ price.delux }}</span>
                    <span>/day</span>
                </div>
                <p id="show">Show More...</p>
            </div>
            <div>
                <div>
                    <p id="roomType">Royal Rooms</p>
                    <span id="price">{{ price.royal }}</span>
                    <span>/day</span>
                </div>
                <p id="show">Show More...</p>
            </div>
        </div>
        <!-- RoomFull is the slider of rooms -->
        <div id="roomFull">
            <div>
                <div id="cross0">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </div>
                <div id="prev">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div id="carousel0">
                    <div id="roomDet">
                        <div>
                            <p id="typePrice">$150</p>
                            <form action="{{ path_for('booking.roomAllot') }}" method="get">
                                <button>Book</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="next">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- The About Us Block -->
    <div id="aboutUs">
        <div>
        </div>
        <div>
            <div>
                <h1>ABOUT US</h1>
                <p>Leela's Motel is a collection of individuals — multiple and inclusive, held together by an affinity for the soulful. We are not here to reinvent the motel, but to readdress its conventions to keep them fresh, energized, human.</p>

            </div>
        </div>
    </div>
    <!-- The OurBest Block -->
    <div id="ourBest">
        <div>
            <div>
                <h1>OUR BEST</h1>
                <p>Leela's Motel is one of the leading motels with gracious hospitality, thooughtful amenities and distinctive.</p>
                <div id="ourService">
                    <div>
                    <i class="fas fa-coffee"></i>
                    <p>Coffee Maker</p>
                    </div><div>
                    <i class="fas fa-tv"></i>
                    <p>25in or larger TV</p>
                    </div><div>
                    <i class="fas fa-phone"></i>
                    <p>Oversized Work Desk</p>
                    </div><div>
                    <i class="far fa-clock"></i>
                    <p>24 hours Service</p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <!-- The Reviews Section -->
    <div id="reviews">
        <div>
            <div>
                <img src="https://i.imgur.com/cO186LR.jpg?1">
                <p>
                    <i class="material-icons">format_quote</i>
                    This is our third time here, we love coming here in the in -between seasons, not winter or summer, we love the ease of this place, do as much or as little as you want. Staff are so lovely, food is great, location amazing. Please don't change anything, you have it right.
                    <i class="material-icons">format_quote</i>
                </p>
            </div>
        </div>
        <div>
            <div>
                <img src="https://i.imgur.com/b5wkzt1.jpg?1">
                <p>
                    <i class="material-icons">format_quote</i>
                    Stayed in a lovely two bedroom chalet for three nights for our ski trip. The chalet was very well equipped with quality furnishings and a sublime view. The reception staff were extremely helpful and the breakfast staff cheery, even very early in the morning. Would have loved to stay longer!
                    <i class="material-icons">format_quote</i>
                </p>
            </div>
        </div>
        <div>
            <div>
                <img src="https://i.imgur.com/b6lgRaf.jpg?1">
                <p>
                    <i class="material-icons">format_quote</i>
                    Thanks to the staff for a perfect stay at Leela's. This is the second time that we have stayed here and on both occasions the accommodation was fantastic and the service was great. Fantastic food and wine.
                    <i class="material-icons">format_quote</i>
                </p>
            </div>
        </div>
    </div>

    <!-- What are You waiting for Box -->
    <div id="whatAreYouWaiting">
    <div>
    <div>
        <h1>What Are You Waiting For?</h1>
        <form action="{{ path_for('booking.roomAllot') }}" method="get">
            <button class="bookBtn">Book Now</button>
        </form>
    </div>
    </div>
    </div>

    <!-- The SignUp And logIn Page Popup -->
    <div id="signuppage">
        <div id="cross">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div id="centerBox">
            <!-- This Box Will go here and there to change from Signup to login -->
            <!-- No change From BackEnd -->
            <div id="main">
                <div  class="text-white" id="box">
                    <h1 class="display-3" id="head">New Here?</h1>
                    <p class="lead" id="para">Sign up and discover a great amount  of new opportunities.</p>
                    <button type="button" class="btn-1 btn" id="btn" onclick="myfunction()">Sign Up</button>
                </div>

                <!--This is the Sign Up Block-->
                {% include 'templates/partials/signup.twig' %}


                <!-- This is the Log In Block-->
                {% include 'templates/partials/login.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pageJs %}
    <script src="{{ base_url() }}/js/home.js"></script>
{% endblock %}