{% extends 'templates/baseAdmin.twig' %}

{% block title %}
   Customers | Leelas Motel
{% endblock %}

{% block pageCss %}
    <link rel="stylesheet" href="{{ base_url() }}/admin/css/bookingDetails.css">
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/sidebar.twig' with {'customers': 'active'} %}
    <div class="main-panel">
        {% include 'templates/partials/admin/navigation.twig' with {'foo':'customer', 'bar': 'detail'}%}



        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 id="status-heading" class="title"> Personal Information</h4>
                            </div>

                            <div class="content">
                                    <div>
                                        <div class="row">
                                            <p class="col-sm-2 col-xs-3">name</p>
                                            <div class="col-sm-4 col-xs-3">
                                                <p>Somya Jain<p>
                                            </div>
                                            <p class="col-sm-2 col-xs-3">Customer ID</p>
                                            <div class="col-sm-4 col-xs-3">
                                                <p>cu56hn<p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="col-sm-2 col-xs-3">Mobile No</p>
                                            <div class="col-sm-4 col-xs-3">
                                                <p>9876543219<p>
                                            </div>
                                            <p class="col-sm-2 col-xs-3">Address</p>
                                            <div class="col-sm-4 col-xs-3">
                                                <p>Address of the customer<p>
                                            </div>
                                        </div>
                                    </div>
                            </div>


                        </div>
                        
                        <div class="card">
                            <div class="header">
                                <h4 id="status-heading" class="title"> All Bookings</h4>
                                <p class="category">Below bookings are in order of new to old.</p>
                            </div>

                            <!-- Booking Table-->
                            <div class="content table-responsive table-full-width" style="min-height:34vh">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th scope="col">Booking Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>

                                    <th scope="col">Check In</th>
                                    <th scope="col">Check Out</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Room</th>
                                    <th scope="col">Detail</th>
                                    </thead>
                                    <tbody id="tBody">
                                    {% for key,value in bookings %}
                                        <tr>
                                            <td>{{ value.bookingId }}</td>
                                            <td>{{ value.name }}</td>
                                            <td>{{ value.mobile }}</td>
                                            <td>{{ value.checkIn }}</td>
                                            <td>{{ value.checkOut }}</td>
                                            <td>{{ value.price }}</td>
                                            <td>{{ value.roomAllotted }}</td>
                                            <td><a href="{{ base_url() }}/admin/bookings/detail/{{ value.bookingId }}">More..</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>                        

                        {% include 'templates/partials/admin/footer.twig' %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/bookingDetail.js"></script>

{% endblock %}

