{% extends 'templates/baseAdmin.twig' %}

{% block title %}
    New Booking| Leelas Motel
{% endblock %}

{% block pageCss %}
    <link rel="stylesheet" href="{{ base_url() }}/admin/css/webEdit.css">
    <link rel="stylesheet" href="{{ base_url() }}/admin/css/bookingForm.css">
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/sidebar.twig' with {'newbooking': 'active'} %}
    <div class="main-panel" style="height: auto; max-height: fit-content">
        {% include 'templates/partials/admin/navigation.twig' with {'foo':'new', 'bar': 'booking'}%}


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- OrderForm-->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Enter Your Details</h4>
                            </div>
                            <span id="customerSpan" style="margin:15px;color:red;font-size:12px;" class="hidden">Fields Marked * are required!</span>
                            <div class="content">
                                <form id="form-box" action="{{ path_for('admin.webedit') }}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="row">
                                            <label for="custBookingFormName" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="custBookingFormName" placeholder="Your Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label for="custBookingFormContact" class="col-sm-2 col-form-label">Contact No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="custBookingFormContact" placeholder="Your Contact number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label for="custBookingFormAddress" class="col-sm-2 col-form-label">Address</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="custBookingFormAddress" placeholder="Your Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Enter Booking Details</h4>
                            </div>
                            <span id="customerSpan" style="margin:15px;color:red;font-size:12px;" class="hidden">Fields Marked * are required!</span>
                            <div class="content">
                                <form class="form-inline" id="form-box" action="{{ path_for('admin.webedit') }}" method="post" enctype="multipart/form-data">
                                    <div class="form-group" style="width:100%">
                                        <div class="row">
                                            <div class="col-sm-4" style="display:flex;">
                                                <label style="display: inline-block;">Standard Rooms</label>
                                                <select class="form-control custom-select" style="width: auto; display: inline-block">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                </select>   
                                            </div>
                                            <div class="col-sm-4" style="display:flex;" >
                                                <label style="display: inline-block;">Delux Rooms</label>
                                                <select class="form-control custom-select" style="width: auto; display: inline-block">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                </select>   
                                            </div><div class="col-sm-4"  style="display:flex;">
                                                <label style="display: inline-block;">Royal Rooms</label>
                                                <select class="form-control custom-select" style="width: auto; display: inline-block">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                </select>   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4" style="display:flex;" >
                                                <label style="display: inline-block;">Adults</label>
                                                <select class="form-control custom-select" style="width: auto; display: inline-block; margin-left: 20px;">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                </select>   
                                            </div>
                                            <div class="col-sm-4" style="display:flex;" >
                                                <label style="display: inline-block;">Child</label>
                                                <select class="form-control custom-select" style="width: auto; display: inline-block; margin-left: 20px;">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                </select>   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4" style="display:flex;" >
                                                <label style="display: inline-block;">Check In</label>                                                
                                                <input type="date" class="form-control" id="custCheckIn" placeholder="Check In">   
                                            </div>
                                            <div class="col-sm-4" style="display:flex;" >
                                                <label style="display: inline-block;">Check Out</label>
                                                  
                                                <input type="date" class="form-control" id="custCheckOut" placeholder="Check Out">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: space-between;">
                            <button id="book-btn" class="filebtn" type="button" >Continue</button>
                            <p style="padding: 10px 20px;border: 1px solid  #000;border-radius: 4px;margin: 0;"><span style="font-weight: bold;">Price </span>:<span> $300</span></p>
                        </div>
                    </div>


                </div>


            </div>

        </div>




    </div>

    {% include 'templates/partials/admin/footer.twig' %}
{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/newBooking.js"></script>

{% endblock %}

