<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

            -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ path_for('admin.dashboard') }}" class="simple-text">
                Leela's Motel
            </a>
        </div>

        <ul class="nav">
            <li id="dashboard" {% if dashboard %}
                class="active"
            {% endif %}  >
                <a href="{{ path_for('admin.dashboard') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li id="newbooking" {% if newbooking %}
                class="active"
                    {% endif %}>
                <a href="{{ path_for('admin.newbooking') }}">
                    <i class="pe-7s-shopbag"></i>
                    <p>New Booking</p>
                </a>
            </li>

            <li id="bookings" {% if bookings %}
            class="active"
            {% endif %}>
                <a href="{{ path_for('admin.bookings') }}">
                    <i class="pe-7s-info"></i>
                    <p>Bookings</p>
                </a>
            </li>

            <li id="customers" {% if customers %}
                class="active"
                    {% endif %}>
                <a href="{{ path_for('admin.customers') }}">
                    <i class="pe-7s-users"></i>
                    <p>Customers</p>
                </a>
            </li>

            <li id="webEdit" {% if webedit %}
                class="active"
                    {% endif %}>
                <a href="{{ path_for('admin.webedit') }}">
                    <i class="pe-7s-settings"></i>
                    <p>Website Management</p>
                </a>
            </li>




        </ul>
    </div>
</div>